@import "tailwindcss";
@plugin "flyonui";
@import "flyonui/variants.css";
@source "./node_modules/flyonui/flyonui.js"; 

@layer base {
  html {
    @apply scroll-smooth;
  }
}
:root, [data-theme]
 {
    background-color: transparent!important;
    color: var(--color-base-content);
}
:root {
  --background: #f8f8f8;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.anton {
  font-family: 'Anton', sans-serif;
}

.inter {
  font-family: 'Inter', 'sans-serif';
}

.html_content p,
.html_content h1,
.html_content h2,
.html_content h3,
.html_content h4,
.html_content h5,
.html_content h6 {
  display: block !important;
  margin-block-start: 1em !important;
  margin-block-end: 1em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  font-size: revert !important;
  font-weight: revert !important;
  font-family: var(--font-dm-sans)
}

.html_content ol {
  list-style: decimal;
}

.html_content *,
.html_content:after,
.html_content:before {
  padding: revert !important;
  font-family: var(--font-inter)
}

button.active {
  @apply bg-blue-800 text-white;
}